body {
  /* background-color: rgb(220, 185, 250); */
}

header {
  background-color: #BBA5EB;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding: 2rem;
  /* box-shadow: 0 4px 2px -2px; */
  border-style: none none solid none;
  border-width: thin;
  /* position: fixed; */
}

.header-content {
  width: 100rem;
  display: flex;
  justify-content: space-between;
}

#logo {
  height: 10rem;
  width: 20;
}

#alien {
  height:3rem;
  
}

.chat-box {
  padding: 2rem;
  height: 5rem;
  background-color: rgb(249, 250, 250);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* section {
  height: 75vh;
  margin: 0rem;
} */

.planets {
  /* background-color: rgb(220, 185, 250); */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.planet {
  /* background-color: rgb(241, 192, 241); */
  height: 25rem;
  width: 15rem;
  margin: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 5px 4px 8px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .planet-info {
  text-transform: capitalize;
} */

.planet-image {
  height: 8rem;
}

.planet h2 {
  text-transform: uppercase;
}