body {
  background-color: rgb(220, 185, 250);
}

header {
  background-color: rgb(241, 192, 241);
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding: 2rem;
  box-shadow: 0 4px 2px -2px;
  /* position: fixed; */
}

img{
  height: 10rem;
  width: 20;
}

/* section {
  height: 75vh;
  margin: 0rem;
} */

.planets {
  /* background-color: rgb(220, 185, 250); */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.planet {
  background-color: rgb(241, 192, 241);
  height: 25rem;
  width: 15rem;
  margin: 3rem;
  padding-left: 1rem;
  box-shadow: 5px 4px 8px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
